<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.kpu.kpusummerwater">

    <permission
        android:name="kr.ac.kpu.kpusummerwater.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="kr.ac.kpu.kpusummerwater.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="Android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.Android.providers.gsf.permission.READ_GSERVICES"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/watericon"
        android:label="HtoO"
        android:roundIcon="@mipmap/watericon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".sampledata.ui.review.GiveMessage"></activity>
        <activity android:name=".sampledata.ui.review.Login" />
        <activity android:name=".ui.Review.News" />
        <activity
            android:name=".sampledata.ui.review.ReviewList"
            android:label="HtoO"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".sampledata.ui.review.Review" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".RegionSelect" />
        <activity android:name=".slideshow.SlideshowFragment" />
        <activity
            android:name=".WaterView"
            android:label="HtoO"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>